<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        <hr>
        <form  action="/create" method="post">
            <input class="bg-zinc-900 py-2 border-2 outline-none rounded-md boder-zinc-800  text-white" type="text" name="name" placeholder=" name">
            <input class="bg-zinc-900 px-5 py-2 border-2 outline-none rounded-md boder-zinc-800 bg-tranparent text-white" type="text" name="email" placeholder="email">
            <input class="bg-zinc-900 px-5 py-2 border-2 outline-none rounded-md boder-zinc-800 bg-tranparent text-white" type="text" name="image" placeholder="image url">
            <input class="px-5 py-2 rounded-md ml-3 mt-4 bg-blue-500" type="submit" value="create user">
        </form>
    </div>
</body>
</html>